{% extends "base.html" %}
{% load bootstrap3 %}
{% block nav-home %} {% endblock %}
{% block title %} Login Success {% endblock %}
{% block content %}

{% if user.is_superuser %}

        <p>Logged in as manager: {{user.username}}</p>
	<hr>
        <p>Potentially where we could put a team adding function.<p>
        <h1> <p><a href="/statistics">Click here</a> to view employee statistics.</p> </h1>
	<h1><a href="/register">Click here</a> To register a new user.</h1>
	<h1><a href="/logout">Click here</a> to logout.</h1>
{% else %}
	
	<p>Logged in as employee: {{user.username}}</p>
	<hr>
        <p>A table of what groups the employee is a part of, linking to an eval page</p>
        <p>Maybe a view past submissions page</p>
        <h1><a href="/evaluation">Click here</a> to submit an evaluation.</h1>
	<h1><a href="/logout">Click here</a> to logout.</h1>

     
{% endif %}
 

{% endblock %}