{% extends "base.html" %}
{% load bootstrap3 %}
{% block nav-home %} {% endblock %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-fluid" style="width:400px">
	<h2 class="page-header"> Login </h2>

	<form action="/login/" method="post" class="form">
			{% csrf_token %}
			<div style="color:red; font-size:16pt;">{{ error }}</div>
			{% bootstrap_form login_form %}
			{% buttons %}
			<button type="submit" class="btn btn-primary"> Login </button>
			{% endbuttons %}
		</form>
	</div>


{% endblock %}