{% extends "base.html" %}
{% load bootstrap3 %}
{% block nav-home %} {% endblock %}
{% block title %} Statistics {% endblock %}
{% block content %}


        <h1>Welcome {{ user.username }}</h1>
    {% if user.is_superuser %}
	<p> List of users: </p>
		{% for u in users %}
			{% if u.is_superuser %}
			{% else %}
			{% for e in evaluations %}
				{% if e.evaluee = u.username %}
					<div>
						Technical Skills: {{e.techskill}}</p>
					</div>
				{% endif %}
			{% endfor %}			
			{% endif %}
		{% endfor %}
	{% else %}
		<div>
			<p> Statistics for {{ user.username }}. </p>
		</div>
		{% for e in evaluations %}
			{% if e.evaluee = user.username %}
				<div>
					<p> Participation: {{e.participation}}, Communication: {{e.communication}}, Presentation: {{e.presentation}}, Technical Skills: {{e.techskill}} </p>
				</div>
				{% endif %}
				{% endfor %}
	{% endif %}

     

 

{% endblock %}