{% extends "base.html" %}
{% load bootstrap3 %}
{% block nav-home %} {% endblock %}
{% block title %} Statistics {% endblock %}
{% block content %}
	<p>Welcome {{ user.username }}</p>
	{% if user.is_superuser %}
		<p> Below are the Statistics of the employee peer evaluations: </p>
		<div>
			<style>
			th, td{
				padding: 10px;
			}
			th, td{
				text-align: center;
			}
			</style>
			<table border="1">
				<tr>
					<th>Employee</th>
					<th>Participation</th>
					<th>Communication</th>
					<th>Presentation</th>
					<th>Technical Skills</th>
				</tr>
				{% for u in users %}
					{% if u.is_superuser %}
					{% else %}
						{% for e in evaluations %}
							{% if e.evaluee = u.username %}
								<tr>
									<td>{{u.username}}</td>
									<td>{{e.participation}}</td>
									<td>{{e.communication}}</td>
									<td>{{e.presentation}}</td>
									<td>{{e.techskill}}</td>
								</tr>
								<!-- <div>
									<p><b>{{ u.username }}</b> was scored: Participation: {{e.participation}}, Communication: {{e.communication}}, Presentation: {{e.presentation}},
										Technical Skills: {{e.techskill}}</p>
								</div> -->
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</table>
		</div>
	{% else %}
		<div>
			<p> Statistics for {{ user.username }}. </p>
		</div>
		<div>
			<style>
			th, td{
				padding: 10px;
			}
			th, td{
				text-align: center;
			}
			</style>
			<table border="1">
				<tr>
					<th>Participation</th>
					<th>Communication</th>
					<th>Presentation</th>
					<th>Technical Skills</th>
				</tr>
				{% for e in evaluations %}
					{% if e.evaluee = user.username %}
						<tr>
							<td>{{e.participation}}</td>
							<td>{{e.communication}}</td>
							<td>{{e.presentation}}</td>
							<td>{{e.techskill}}</td>
						</tr>
						<!-- <div>
								<p> Participation: {{e.participation}}, Communication: {{e.communication}}, Presentation: {{e.presentation}}, Technical Skills: {{e.techskill}} </p>
						</div> -->
					{% endif %}
				{% endfor %}
			</table>
		</div>
	{% endif %}
	
	
{% endblock %}